aiohttp==3.10.11
brotli==1.0.9
jaraco.collections==5.1.0
lightning==2.3.3
matplotlib==3.7.5
mkl-fft==1.3.8
mkl-random==1.2.4
ortools==9.12.4544
pip-chill==1.0.3
pooch==1.7.0
pynvml==11.5.3
pysocks==1.7.1
swankit==0.2.4
swanlab==0.6.12
tensorboard==2.14.0
tomli==2.0.1
torch-geometric==1.7.2
torch-scatter==2.1.2+pt24cu124
torch-sparse==0.6.18+pt24cu124
torchdata==0.8.0
wandb==0.22.2
